.stats {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.statName {
  text-align: center;
  transform: scale(1);
  transition: transform 200ms linear, color 200ms linear;
}

.statName:hover {
  color: rgb(110, 101, 12);
  transform: scale(1.1);
  transition: transform 200ms linear, color 200ms linear;
}

.statValue {
  display: block;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}
